body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Navbar */
.header, .main-title {
    display: flex;
    background-color: #1F2937;
}

.header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.header-links {
    align-items: center;
    padding: 16px;
    margin-right: auto;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: auto;
    margin-right: 350px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/* Hero box */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.heroimg {
    width: 500px;
    height: 350px;
}

.main-title {
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.title-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext{
    text-align: left;
    padding-top: 15px;
    gap: 8px;
}

.sign-up {
    background-color: #3882f6;
    color: #E5E7EB;
    width: 90px;
    height: 40px;
    display: block;
}

/* Info box */

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 50px;
}

.info {
    width: 200px;
    text-align: center;
}

.text {
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

/* project box */

.project1, .project2 {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 70px;
    background-color: #E5E7EB;
    gap: 8px;
    font-size: large;
}

.project2 {
    background-color: #f9faf8;
}

.innerproject {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.barrier {
    padding-left: 25px;
}

ol {
    list-style: disc;
    padding: 20px;
    margin: 0;
}

li {
    padding: 8px;
}

.quote-content {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-left: auto;
    margin-right: auto;
}

.quote-author {
    font-weight: bolder;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/* sign up message box */

.signupmsg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 32px;
    padding-bottom: 50px;
}